* {
	box-sizing: border-box;
}
body {
	font-size: 1.4em;
	font-family: sans-serif;
 font-weight: bold;
 padding: 0;
 margin: 0;
	background:white;
}

.grid{
    display: grid;
    grid-template-columns: repeat( 4, minmax(200px, 200px) );
    grid-template-rows: repeat(3, 200px);
    grid-gap: 65px;
    max-width: 1000px;
    background: #fff;
	   margin: 25px auto;
}

img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}
input {
 width: 23%;
 text-align: center;
 margin-right: 38%;
 margin-left: 38.5%;
 margin-top: 25px;
 padding: 10px;
}

a {
 width: 200px;
 height: 200px;
}