* {
 box-sizing: border-box;
}
body {
	background:white;
}

.grid{
    max-width: 50%;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 1rem;
    margin: auto;
}

img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}
input {
 width: 23%;
 text-align: center;
 margin-right: 38%;
 margin-left: 38.5%;
 margin-top: 25px;
 margin-bottom: 25px;
 padding: 10px;
}

